/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../_internal/sass/sass/inc/_fonts.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../_internal/sass/sass/inc/_fonts.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

/* line 22, ../_internal/sass/sass/inc/_fonts.scss */
.fa-user:before {
  content: "\f007";
}

/* line 25, ../_internal/sass/sass/inc/_fonts.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 28, ../_internal/sass/sass/inc/_fonts.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 31, ../_internal/sass/sass/inc/_fonts.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 34, ../_internal/sass/sass/inc/_fonts.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 37, ../_internal/sass/sass/inc/_fonts.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 40, ../_internal/sass/sass/inc/_fonts.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 43, ../_internal/sass/sass/inc/_fonts.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 46, ../_internal/sass/sass/inc/_fonts.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 49, ../_internal/sass/sass/inc/_fonts.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 57, ../_internal/sass/sass/inc/_fonts.scss */
.arrow_box {
  position: relative;
  background: #b7a6ac;
  border-bottom: 2px solid #ffffff;
}

/* line 66, ../_internal/sass/sass/inc/_fonts.scss */
.arrow_box.active:after, .arrow_box.active:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 76, ../_internal/sass/sass/inc/_fonts.scss */
.arrow_box.active:after {
  border-color: rgba(183, 166, 172, 0);
  border-top-color: #5b484e;
  border-width: 16px;
  margin-left: -16px;
}

/* line 83, ../_internal/sass/sass/inc/_fonts.scss */
.arrow_box.active:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 19px;
  margin-left: -19px;
}

/* line 1, ../_internal/sass/sass/_def.sass */
html {
  font-size: 100%;
  color: #595959;
}
@media only screen and (max-width: 40em) {
  /* line 1, ../_internal/sass/sass/_def.sass */
  html {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 1, ../_internal/sass/sass/_def.sass */
  html {
    font-size: 87.5%;
  }
}

/* line 8, ../_internal/sass/sass/_def.sass */
body {
  background-color: #2f1c22;
  font-size: 1em;
}

/* line 11, ../_internal/sass/sass/_def.sass */
a {
  color: white;
}
/* line 13, ../_internal/sass/sass/_def.sass */
a:hover {
  color: #cccccc;
}

/* line 15, ../_internal/sass/sass/_def.sass */
ul {
  font-size: 16px;
  font-size: 1rem;
}

/* line 17, ../_internal/sass/sass/_def.sass */
.error {
  color: red;
}

/* line 19, ../_internal/sass/sass/_def.sass */
.inline-list {
  margin: 0 auto 15px auto;
  margin: 0 auto 0.9375rem auto;
  margin-left: -18px;
  margin-left: -1.125rem;
  list-style: none;
  overflow: hidden;
}
/* line 27, ../_internal/sass/sass/_def.sass */
.inline-list > li {
  display: block;
  list-style: none;
  float: left;
  margin-left: 18px;
  margin-left: 1.125rem;
}
/* line 33, ../_internal/sass/sass/_def.sass */
.inline-list > li > * {
  display: block;
}

/* line 35, ../_internal/sass/sass/_def.sass */
.ta-left {
  text-align: left;
}

/* line 37, ../_internal/sass/sass/_def.sass */
.ta-center {
  text-align: center;
}

/* line 39, ../_internal/sass/sass/_def.sass */
.ta-right {
  text-align: right;
}

/* line 41, ../_internal/sass/sass/_def.sass */
.button.gray {
  color: #2f1c22;
  background-color: #b7a6ac;
}
/* line 44, ../_internal/sass/sass/_def.sass */
.button.gray:hover, .button.gray:focus {
  background-color: #6c585f;
}

/* line 47, ../_internal/sass/sass/_def.sass */
button:hover, button:focus {
  outline-color: black;
}

/* line 49, ../_internal/sass/sass/_def.sass */
.boxDotted {
  border: 6px dotted #e6e3e4;
}

/* layouts component */
/* line 3, ../_internal/sass/sass/main.sass */
.headSlider {
  overflow: hidden;
}
/* line 5, ../_internal/sass/sass/main.sass */
.headSlider img {
  width: 100%;
  max-width: 1025px;
}
@media only screen and (max-width: 40em) {
  /* line 3, ../_internal/sass/sass/main.sass */
  .headSlider {
    width: 100%;
    height: auto;
    line-height: 100%;
  }
}

/* line 15, ../_internal/sass/sass/main.sass */
#topmenu img {
  width: 16.4375em;
  height: 3.0625em;
}
/* line 18, ../_internal/sass/sass/main.sass */
#topmenu .inline-list {
  overflow: initial;
}
/* line 21, ../_internal/sass/sass/main.sass */
#topmenu .inline-list .logo img {
  position: relative;
  top: auto;
  right: auto;
  bottom: 1.1875em;
  left: auto;
}
/* line 27, ../_internal/sass/sass/main.sass */
#topmenu .menus {
  display: none;
}
@media only screen and (max-width: 40em) {
  /* line 33, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu {
    background-color: #2f1c22;
  }
  /* line 35, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .icons {
    font-size: 2em;
    margin-top: 0.3125em;
    padding: 0.125em;
    color: #4f2f39;
  }
  /* line 40, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .icons:hover, #topmenu #small-topmenu .icons.open {
    color: #2f1c22;
    background-color: #666666;
  }
  /* line 44, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu > .row {
    padding: 0.3125em 0;
    border-bottom: 1px solid white;
  }
  /* line 47, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus {
    z-index: 9999;
    position: relative;
    overflow: auto;
  }
  /* line 57, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul {
    margin: 0;
    padding: 0;
  }
  /* line 60, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li {
    list-style: none;
    text-align: center;
    border-top: 1px solid #666666;
    color: white;
  }
  /* line 65, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li:first-child, #topmenu #small-topmenu .menus ul > li.noBorder {
    border: none;
  }
  /* line 68, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li > a, #topmenu #small-topmenu .menus ul > li.noBorder {
    display: block;
    padding: 0.3125em 0;
  }
  /* line 73, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li.noBorder a {
    display: inline;
  }
  /* line 76, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li.row.noBorder > * {
    padding: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 79, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu {
    border-top: 1px solid white;
  }
  /* line 81, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu .logo {
    text-align: center;
    margin-top: 1em;
  }
  /* line 85, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu .inline-list > li > a {
    display: inline;
  }
  /* line 87, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div {
    display: block;
    margin: 0.5em auto 0.25em;
  }
  /* line 91, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list {
    margin: 0;
  }
  /* line 97, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > li {
    width: 12.5%;
    margin: 0;
  }
  /* line 103, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .large {
    width: 13.5%;
  }
  /* line 105, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLarge {
    padding-left: 2%;
  }
  /* line 107, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLargeTwo {
    padding-left: 3%;
  }
  /* line 109, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .last {
    width: 11%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 12, ../_internal/sass/sass/main.sass */
  #topmenu {
    padding-top: 2.1875em;
  }
}

@media only screen and (min-width: 40.063em) {
  /* line 113, ../_internal/sass/sass/main.sass */
  #content {
    margin-bottom: 0.9375em;
  }
}

/* line 117, ../_internal/sass/sass/main.sass */
.catagories {
  background-color: white;
  margin: 0.3125em 0 0 0;
  padding: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: #595959;
}
/* line 125, ../_internal/sass/sass/main.sass */
.catagories .columns {
  padding: 0;
}
/* line 128, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details {
  padding-bottom: 0.9375em;
}
/* line 130, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  background-color: #e6e3e4;
  margin: 0;
  padding: 0.20833em 0;
  padding-left: 0.625em;
  color: #2e1b22;
}
/* line 139, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details section {
  margin-top: 0.625em;
  padding-left: 0.9375em;
}
/* line 142, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details section h2 {
  font-size: 1.125em;
  font-weight: bold;
  color: #b7a6ac;
}
/* line 147, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .rightImage img {
  width: 100%;
  height: auto;
}
/* line 150, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider {
  text-align: center;
  position: relative;
  z-index: 90;
}
/* line 156, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item {
  margin-bottom: 15px;
}
/* line 158, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item > a {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: block;
  padding: 0.875em 0;
}
/* line 163, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item > a:hover, .catagories .paginationCatagorieSlider .item > a:focus {
  color: white;
}
/* line 166, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item:first-child > a {
  border-left: 2px solid white;
}
/* line 168, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item.active, .catagories .paginationCatagorieSlider .item:hover {
  background-color: #5b484e;
}
/* line 170, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider.row {
  margin: 0;
}
/* line 174, ../_internal/sass/sass/main.sass */
.catagories .catagorieSlider .item .details {
  margin-top: -3.125em;
  padding-left: 0.9375em;
}
/* line 177, ../_internal/sass/sass/main.sass */
.catagories .catagorieSlider .item .details h1 {
  color: #b7a6ac;
  font-weight: bold;
}
@media only screen and (min-width: 40.063em) {
  /* line 174, ../_internal/sass/sass/main.sass */
  .catagories .catagorieSlider .item .details {
    margin-top: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 172, ../_internal/sass/sass/main.sass */
  .catagories .catagorieSlider {
    position: relative;
    top: -17px;
    z-index: 80;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 117, ../_internal/sass/sass/main.sass */
  .catagories {
    margin: 0.625em 0 0 0;
  }
}

/* line 191, ../_internal/sass/sass/main.sass */
footer {
  color: white;
  border-top: 1px solid white;
  padding-top: 1.66667em;
}
/* line 193, ../_internal/sass/sass/main.sass */
footer > .columns {
  padding: 0;
  padding-left: 0.9375em;
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 64.063em) {
  /* line 193, ../_internal/sass/sass/main.sass */
  footer > .columns {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/* line 207, ../_internal/sass/sass/main.sass */
footer .top {
  padding-bottom: 1.66667em;
}
/* line 209, ../_internal/sass/sass/main.sass */
footer .bottom {
  padding-bottom: 1.25em;
  border-top: 1px solid white;
}
/* line 213, ../_internal/sass/sass/main.sass */
footer .icon-wrapper {
  display: inline;
  margin-left: 0.83333em;
}
/* line 216, ../_internal/sass/sass/main.sass */
footer .icon-wrapper .icons {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0.41667em;
  margin-left: 0.41667em;
}
@media only screen and (min-width: 64.063em) {
  /* line 223, ../_internal/sass/sass/main.sass */
  footer .subscript span, footer .subscript input[type=text], footer .subscript button.button.gray {
    float: left;
  }
  /* line 225, ../_internal/sass/sass/main.sass */
  footer .subscript input[type=text] {
    width: 75%;
  }
  /* line 227, ../_internal/sass/sass/main.sass */
  footer .subscript button.button.gray {
    margin-left: 3px;
    margin-left: 0.1875rem;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 0.5625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.5625rem;
    padding-left: 0.625rem;
  }
  /* line 239, ../_internal/sass/sass/main.sass */
  footer .icon-wrapper {
    margin: 0;
  }
  /* line 241, ../_internal/sass/sass/main.sass */
  footer .icon-wrapper .icons {
    margin-left: 0;
  }
  /* line 243, ../_internal/sass/sass/main.sass */
  footer .bottom {
    padding-top: 0.83333em;
    padding-bottom: 0.41667em;
  }
}

/* line 246, ../_internal/sass/sass/main.sass */
.catagorieBanner {
  position: relative;
}
/* line 248, ../_internal/sass/sass/main.sass */
.catagorieBanner .columns {
  padding: 0;
}
/* line 250, ../_internal/sass/sass/main.sass */
.catagorieBanner img {
  width: 100%;
  height: auto;
}
/* line 253, ../_internal/sass/sass/main.sass */
.catagorieBanner .details {
  text-align: center;
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: auto;
}
/* line 260, ../_internal/sass/sass/main.sass */
.catagorieBanner .details h1 {
  color: #77686d;
}
/* line 262, ../_internal/sass/sass/main.sass */
.catagorieBanner .details > article {
  color: white;
}

/* line 264, ../_internal/sass/sass/main.sass */
.products {
  background-color: #eeeeee;
  padding-top: 0.3125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  border-left: 1px solid #e5e3e4;
  border-bottom: 1px solid #e5e3e4;
}
/* line 272, ../_internal/sass/sass/main.sass */
.products h1 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  display: block;
  overflow: hidden;
  color: #5b484e;
}
@media only screen and (max-width: 40em) {
  /* line 272, ../_internal/sass/sass/main.sass */
  .products h1 {
    line-height: 1;
    height: 3em;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 272, ../_internal/sass/sass/main.sass */
  .products h1 {
    line-height: 1.2;
    height: 2.5em;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 272, ../_internal/sass/sass/main.sass */
  .products h1 {
    visibility: hidden;
    height: 4em;
  }
}
/* line 288, ../_internal/sass/sass/main.sass */
.products .columns {
  padding: 0;
}
/* line 290, ../_internal/sass/sass/main.sass */
.products .columns.small-centered {
  text-align: center;
}
/* line 292, ../_internal/sass/sass/main.sass */
.products .priceTag {
  font-size: 0.75em;
  background-color: #d7d4d5;
  margin-bottom: 0.2em;
  text-align: center;
}
/* line 297, ../_internal/sass/sass/main.sass */
.products .priceTag .addToCart {
  font-size: 0.83333em;
  display: block;
  color: #7b686e;
  padding: 0.2em 0.25em;
  border: 1px solid #7b686e;
}
/* line 303, ../_internal/sass/sass/main.sass */
.products .priceTag .addToCart i {
  font-size: 1.6em;
}
@media only screen and (min-width: 64.063em) {
  /* line 292, ../_internal/sass/sass/main.sass */
  .products .priceTag {
    visibility: hidden;
  }
}

/* line 307, ../_internal/sass/sass/main.sass */
.cart {
  background-color: white;
  color: #59303e;
}
/* line 310, ../_internal/sass/sass/main.sass */
.cart header {
  margin-top: 1em;
  color: #e6e3e4;
}
/* line 313, ../_internal/sass/sass/main.sass */
.cart h1 {
  font-size: 2.3em;
}
/* line 316, ../_internal/sass/sass/main.sass */
.cart section:first-child {
  border-right: 5px dotted black;
}
/* line 318, ../_internal/sass/sass/main.sass */
.cart .boxDotted {
  margin: 1em;
  padding: 1em 0.5em;
}

@media only screen and (min-width: 64.063em) {
  /* line 322, ../_internal/sass/sass/main.sass */
  .large-6-gutter {
    width: 49.5%;
    margin-left: 0.5%;
  }
  /* line 325, ../_internal/sass/sass/main.sass */
  .large-6-gutter:first-child {
    margin-left: 0;
    margin-right: 0.5%;
  }
}
