/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../_internal/sass/sass/inc/_fonts.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../_internal/sass/sass/inc/_fonts.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

/* line 22, ../_internal/sass/sass/inc/_fonts.scss */
.fa-user:before {
  content: "\f007";
}

/* line 25, ../_internal/sass/sass/inc/_fonts.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 28, ../_internal/sass/sass/inc/_fonts.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 31, ../_internal/sass/sass/inc/_fonts.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 34, ../_internal/sass/sass/inc/_fonts.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 37, ../_internal/sass/sass/inc/_fonts.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 40, ../_internal/sass/sass/inc/_fonts.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 43, ../_internal/sass/sass/inc/_fonts.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 46, ../_internal/sass/sass/inc/_fonts.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 49, ../_internal/sass/sass/inc/_fonts.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 52, ../_internal/sass/sass/inc/_fonts.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 55, ../_internal/sass/sass/inc/_fonts.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 58, ../_internal/sass/sass/inc/_fonts.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 61, ../_internal/sass/sass/inc/_fonts.scss */
.fa-search:before {
  content: "\f002";
}

/* line 64, ../_internal/sass/sass/inc/_fonts.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 1, ../_internal/sass/sass/_def.sass */
html {
  font-size: 100%;
  color: #595959;
}

/* line 8, ../_internal/sass/sass/_def.sass */
body {
  background-color: #2f1c22;
  font-size: 1em;
}

/* line 11, ../_internal/sass/sass/_def.sass */
a {
  color: white;
}
/* line 13, ../_internal/sass/sass/_def.sass */
a:hover {
  color: #cccccc;
}

/* line 15, ../_internal/sass/sass/_def.sass */
ul {
  font-size: 16px;
  font-size: 1rem;
}

/* line 17, ../_internal/sass/sass/_def.sass */
.error {
  color: red;
}

/* line 19, ../_internal/sass/sass/_def.sass */
.inline-list {
  margin: 0 auto 15px auto;
  margin: 0 auto 0.9375rem auto;
  margin-left: -15px;
  margin-left: -0.9375rem;
  list-style: none;
  overflow: hidden;
}
/* line 27, ../_internal/sass/sass/_def.sass */
.inline-list > li {
  display: block;
  list-style: none;
  float: left;
  margin-left: 15px;
  margin-left: 0.9375rem;
}
/* line 33, ../_internal/sass/sass/_def.sass */
.inline-list > li > * {
  display: block;
}

/* line 35, ../_internal/sass/sass/_def.sass */
.ta-left {
  text-align: left;
}

/* line 37, ../_internal/sass/sass/_def.sass */
.ta-center {
  text-align: center;
}

/* line 39, ../_internal/sass/sass/_def.sass */
.ta-right {
  text-align: right;
}

/* line 41, ../_internal/sass/sass/_def.sass */
.ovh {
  overflow: hidden;
}

/* line 43, ../_internal/sass/sass/_def.sass */
.circle {
  width: 100%;
  height: 100%;
  color: #9f8991;
  border: 2px solid #b6a5ab;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/polyfill/pie/PIE.htc");
}

/* line 54, ../_internal/sass/sass/_def.sass */
.button.gray, button.gray {
  color: #2f1c22;
  background-color: #b7a6ac;
}
/* line 57, ../_internal/sass/sass/_def.sass */
.button.gray:hover, .button.gray:focus, button.gray:hover, button.gray:focus {
  background-color: #6c585f;
}

/* line 60, ../_internal/sass/sass/_def.sass */
button:hover, button:focus {
  outline-color: black;
}

/* line 63, ../_internal/sass/sass/_def.sass */
hr.dotted {
  border-bottom: 1px dotted black;
}

/* line 65, ../_internal/sass/sass/_def.sass */
.boxDotted {
  border: 6px dotted #b6a5ab;
}

/* line 67, ../_internal/sass/sass/_def.sass */
.addToCart, .cabtn {
  font-size: 0.83333em;
  display: block;
  color: #7b686e;
  padding: 0.2em 0.25em;
  border: 1px solid #7b686e;
  text-align: center;
}
/* line 74, ../_internal/sass/sass/_def.sass */
.addToCart:hover, .cabtn:hover {
  color: #ac9da2;
}
/* line 76, ../_internal/sass/sass/_def.sass */
.addToCart i, .cabtn i {
  font-size: 1.6em;
}

/* line 78, ../_internal/sass/sass/_def.sass */
.price {
  color: #582f3d;
  font-weight: bold;
}
/* line 81, ../_internal/sass/sass/_def.sass */
.price b {
  font-size: 0.75em;
}

/* layouts component */
/* line 84, ../_internal/sass/sass/_def.sass */
.arrow_box {
  position: relative;
  background: #b7a6ac;
}
/* line 91, ../_internal/sass/sass/_def.sass */
.arrow_box.active:after, .arrow_box.active:before, .arrow_box.left:after, .arrow_box.left:before, .arrow_box.right:after, .arrow_box.right:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 100, ../_internal/sass/sass/_def.sass */
.arrow_box.active:after, .arrow_box.left:after, .arrow_box.right:after {
  border-color: rgba(183, 166, 172, 0);
  border-top-color: #582f3d;
  border-width: 16px;
  margin-left: -16px;
}
/* line 106, ../_internal/sass/sass/_def.sass */
.arrow_box.active:before, .arrow_box.left:before, .arrow_box.right:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 19px;
  margin-left: -19px;
}
/* line 112, ../_internal/sass/sass/_def.sass */
.arrow_box.left:after, .arrow_box.left:before {
  left: auto;
  bottom: auto;
  right: 100%;
  top: 50%;
  border: solid transparent;
}
/* line 118, ../_internal/sass/sass/_def.sass */
.arrow_box.left:after {
  border-color: rgba(91, 72, 78, 0);
  margin: 0;
  border-right-color: #582f3d;
  border-width: 17px;
  margin-top: -17px;
}
/* line 124, ../_internal/sass/sass/_def.sass */
.arrow_box.left:before {
  border-color: rgba(255, 255, 255, 0);
  margin: 0;
  border-right-color: white;
  border-width: 19px;
  margin-top: -19px;
}
/* line 131, ../_internal/sass/sass/_def.sass */
.arrow_box.right:after, .arrow_box.right:before {
  left: auto;
  bottom: auto;
  left: 100%;
  top: 50%;
  border: solid transparent;
}
/* line 137, ../_internal/sass/sass/_def.sass */
.arrow_box.right:after {
  border-color: rgba(91, 72, 78, 0);
  margin: 0;
  border-left-color: #582f3d;
  border-width: 17px;
  margin-top: -17px;
}
/* line 143, ../_internal/sass/sass/_def.sass */
.arrow_box.right:before {
  border-color: rgba(255, 255, 255, 0);
  margin: 0;
  border-left-color: white;
  border-width: 19px;
  margin-top: -19px;
}

/* line 3, ../_internal/sass/sass/main.sass */
.headSlider {
  overflow: hidden;
}
/* line 5, ../_internal/sass/sass/main.sass */
.headSlider img {
  width: 100%;
  max-width: 1025px;
}
@media only screen and (max-width: 40em) {
  /* line 3, ../_internal/sass/sass/main.sass */
  .headSlider {
    width: 100%;
    height: auto;
    line-height: 100%;
  }
}

/* line 12, ../_internal/sass/sass/main.sass */
#topcartmenu {
  background-color: white;
  padding: 0.3125em 0;
  color: #a29c9e;
}
/* line 17, ../_internal/sass/sass/main.sass */
#topcartmenu a {
  color: #a29c9e;
  font-size: 13px;
}
/* line 20, ../_internal/sass/sass/main.sass */
#topcartmenu a:hover, #topcartmenu a.active {
  color: #555052;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 17, ../_internal/sass/sass/main.sass */
  #topcartmenu a {
    font-size: 14px;
  }
}
/* line 25, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li {
  list-style: none;
  position: relative;
}
/* line 28, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li > a {
  text-align: center;
  font-size: 13px;
  white-space: nowrap;
  display: block;
  border: 1px solid transparent;
  background-color: white;
  margin-top: -0.13333em;
}
/* line 37, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li > a .icon {
  font-size: 1.46667em;
}
/* line 39, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li > a:hover, #topcartmenu ul > li > a.active {
  padding: 0.16667em 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  z-index: 92;
}
/* line 46, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li > a:hover {
  border-bottom: 1px solid black;
}
/* line 48, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li > a.active:hover {
  border-bottom: 1px solid transparent;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 28, ../_internal/sass/sass/main.sass */
  #topcartmenu ul > li > a {
    font-size: 13px;
  }
}
/* line 52, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  top: 25px;
  padding-bottom: 0.9375em;
  z-index: 91;
  display: none;
  text-align: left;
}
/* line 61, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub .columns {
  padding: 0 0.3125em;
}
/* line 63, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub .button {
  margin: 0;
  margin-top: 0.5em;
  padding: 0.625em 1.25em;
  color: white;
}
/* line 68, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub .row {
  margin: 0;
  border-top: 1px dotted black;
  padding: 0.3125em 0;
}
/* line 72, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub .row:first-child, #topcartmenu ul > li .sub .row.first {
  border: none;
}
/* line 78, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub h5 {
  font-size: 15px;
  white-space: nowrap;
  color: #582f3d;
}
/* line 82, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub img {
  width: 100%;
  height: auto;
}
/* line 85, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub.profile {
  right: 0;
  width: 294px;
  padding: 0.5em 0;
}
/* line 89, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub.selection {
  right: -125px;
  width: 475px;
  color: #582f3d;
}
/* line 93, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub.selection .row {
  margin: 0 0.9375em;
}
/* line 95, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub.selection .head {
  font-size: 13px;
  font-weight: bold;
  padding: 0.375em 0;
  padding-left: 0.9375em;
  background-color: #e5e3e4;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 89, ../_internal/sass/sass/main.sass */
  #topcartmenu ul > li .sub.selection {
    width: 629px;
    right: -103px;
  }
}
/* line 104, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li .sub.active {
  display: block;
}
/* line 108, ../_internal/sass/sass/main.sass */
#topcartmenu ul > li.columns {
  padding: 0;
}
/* line 111, ../_internal/sass/sass/main.sass */
#topcartmenu .row > .columns {
  padding-left: 0.625em;
  padding-right: 0.625em;
  font-size: 13px;
}
/* line 115, ../_internal/sass/sass/main.sass */
#topcartmenu .row > .columns:first-child {
  padding-left: 0;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 12, ../_internal/sass/sass/main.sass */
  #topcartmenu {
    height: 35px;
  }
}

/* line 119, ../_internal/sass/sass/main.sass */
.searchBox {
  position: relative;
}
/* line 122, ../_internal/sass/sass/main.sass */
.searchBox i {
  font-size: 19px;
  position: absolute;
  z-index: 2;
  right: 2px;
  top: 2px;
}
/* line 128, ../_internal/sass/sass/main.sass */
.searchBox input[type=text] {
  margin: 0;
  padding: 0.21875rem 0.5rem;
  height: auto;
  padding-right: 22px;
  background-color: #d1ccce;
}

/* line 138, ../_internal/sass/sass/main.sass */
#topmenu {
  background-color: #25161b;
  margin: 0 auto;
  max-width: 62.5em;
}
/* line 147, ../_internal/sass/sass/main.sass */
#topmenu img {
  width: 16.4375em;
  height: 3.0625em;
}
/* line 150, ../_internal/sass/sass/main.sass */
#topmenu .inline-list {
  overflow: visible;
  overflow: initial;
  margin: 0 auto;
  max-width: 58.8125em;
}
/* line 156, ../_internal/sass/sass/main.sass */
#topmenu .inline-list .logo img {
  position: relative;
  top: auto;
  right: auto;
  bottom: 1.1875em;
  left: auto;
}
/* line 162, ../_internal/sass/sass/main.sass */
#topmenu .inline-list > li {
  font-size: 15px;
}
/* line 165, ../_internal/sass/sass/main.sass */
#topmenu .menus {
  display: none;
}
@media only screen and (max-width: 40em) {
  /* line 171, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu {
    background-color: #2f1c22;
  }
  /* line 173, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .icons {
    font-size: 2em;
    margin-top: 0.3125em;
    padding: 0.125em;
    color: #4f2f39;
  }
  /* line 178, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .icons:hover, #topmenu #small-topmenu .icons.open {
    color: #2f1c22;
    background-color: #666666;
  }
  /* line 182, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu > .row {
    padding: 0.3125em 0;
    border-bottom: 1px solid white;
  }
  /* line 185, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus {
    z-index: 9999;
    position: relative;
    overflow: auto;
  }
  /* line 195, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul {
    margin: 0;
    padding: 0;
  }
  /* line 198, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li {
    list-style: none;
    text-align: center;
    border-top: 1px solid #666666;
    color: white;
  }
  /* line 203, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li:first-child, #topmenu #small-topmenu .menus ul > li.noBorder {
    border: none;
  }
  /* line 206, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li > a, #topmenu #small-topmenu .menus ul > li.noBorder {
    display: block;
    padding: 0.3125em 0;
  }
  /* line 211, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li.noBorder a {
    display: inline;
  }
  /* line 214, ../_internal/sass/sass/main.sass */
  #topmenu #small-topmenu .menus ul > li.row.noBorder > * {
    padding: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 217, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu {
    border-top: 1px solid white;
  }
  /* line 219, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu .logo {
    text-align: center;
    margin-top: 1em;
  }
  /* line 223, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu .inline-list > li > a {
    display: inline;
  }
  /* line 225, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div {
    display: block;
    margin: 0.5em auto 0.25em;
  }
  /* line 229, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list {
    margin: 0;
  }
  /* line 235, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > li {
    width: 12.5%;
    margin: 0;
  }
  /* line 241, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .large {
    width: 13.5%;
  }
  /* line 243, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLarge {
    padding-left: 2%;
  }
  /* line 245, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLargeTwo {
    padding-left: 3%;
  }
  /* line 247, ../_internal/sass/sass/main.sass */
  #topmenu #medium-topmenu div .inline-list > .last {
    width: 11%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 138, ../_internal/sass/sass/main.sass */
  #topmenu {
    padding-top: 2.1875em;
  }
}

@media only screen and (min-width: 40.063em) {
  /* line 251, ../_internal/sass/sass/main.sass */
  #content {
    margin-bottom: 0.9375em;
  }
}

/* line 255, ../_internal/sass/sass/main.sass */
.catagories {
  background-color: white;
  margin: 0.3125em 0 0 0;
  padding: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: #2e1b22;
}
/* line 263, ../_internal/sass/sass/main.sass */
.catagories .columns {
  padding: 0;
}
/* line 268, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  background-color: #e6e3e4;
  margin: 0;
  padding: 0.20833em 0;
  padding-left: 8px;
  color: #2e1b22;
}
/* line 277, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details section {
  font-size: 12px;
  margin-top: 0.625em;
  padding-left: 0.9375em;
}
/* line 281, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details section h2 {
  font-size: 17px;
  font-weight: bold;
  color: #b7a6ac;
}
/* line 286, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details section p {
  line-height: 1.4;
  font-size: 12px;
  color: #595959;
}
/* line 290, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .details .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 7px;
  margin-bottom: 0px;
}
/* line 299, ../_internal/sass/sass/main.sass */
.catagories .innerCatagorie .rightImage img {
  width: 100%;
}
/* line 302, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider {
  text-align: center;
  position: relative;
  z-index: 90;
}
/* line 308, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item {
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}
/* line 311, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item > a {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: block;
  padding: 0.875em 0;
}
/* line 316, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item > a:hover, .catagories .paginationCatagorieSlider .item > a:focus {
  color: white;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 311, ../_internal/sass/sass/main.sass */
  .catagories .paginationCatagorieSlider .item > a {
    font-size: 0.9375em;
  }
}
/* line 321, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item:first-child > a {
  border-left: 2px solid white;
}
/* line 323, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider .item.active, .catagories .paginationCatagorieSlider .item:hover {
  background-color: #582f3d;
}
/* line 325, ../_internal/sass/sass/main.sass */
.catagories .paginationCatagorieSlider.row {
  margin: 0;
}
/* line 329, ../_internal/sass/sass/main.sass */
.catagories .catagorieSlider .item .details {
  text-align: center;
  padding-left: 0.9375em;
}
/* line 332, ../_internal/sass/sass/main.sass */
.catagories .catagorieSlider .item .details h1 {
  color: #b7a6ac;
  font-weight: bold;
}
@media only screen and (min-width: 40.063em) {
  /* line 329, ../_internal/sass/sass/main.sass */
  .catagories .catagorieSlider .item .details {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 327, ../_internal/sass/sass/main.sass */
  .catagories .catagorieSlider {
    position: relative;
    top: -17px;
    height: 218px;
    z-index: 80;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 255, ../_internal/sass/sass/main.sass */
  .catagories {
    margin: 0.625em 0 0 0;
  }
}

/* line 348, ../_internal/sass/sass/main.sass */
footer {
  background-color: #27171d;
  color: white;
  border-top: 1px solid white;
  padding-top: 2em;
}
/* line 351, ../_internal/sass/sass/main.sass */
footer > .columns {
  padding: 0;
  padding-bottom: 2em;
  padding-left: 0.9375em;
  font-size: 10px;
  font-size: 0.625rem;
}
@media only screen and (min-width: 64.063em) {
  /* line 351, ../_internal/sass/sass/main.sass */
  footer > .columns {
    font-size: 10px;
    font-size: 0.625rem;
  }
}
/* line 366, ../_internal/sass/sass/main.sass */
footer .top {
  padding-bottom: 2em;
}
/* line 368, ../_internal/sass/sass/main.sass */
footer .bottom {
  padding-bottom: 1.5em;
  border-top: 1px solid;
}
/* line 372, ../_internal/sass/sass/main.sass */
footer .icon-wrapper {
  display: inline;
  margin-left: 1em;
}
/* line 375, ../_internal/sass/sass/main.sass */
footer .icon-wrapper > a {
  float: left;
  margin-left: 11px;
  margin-top: -14px;
}
/* line 379, ../_internal/sass/sass/main.sass */
footer .icon-wrapper .icons {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0.41667em;
  margin-left: 0.41667em;
}
@media only screen and (min-width: 64.063em) {
  /* line 386, ../_internal/sass/sass/main.sass */
  footer .subscript span, footer .subscript input[type=text], footer .subscript button.button.gray {
    float: left;
  }
  /* line 388, ../_internal/sass/sass/main.sass */
  footer .subscript input[type=text] {
    width: 78%;
    height: 29px;
    margin-left: -25px;
  }
  /* line 392, ../_internal/sass/sass/main.sass */
  footer .subscript button.button.gray {
    margin-left: 3px;
    margin-left: 0.1875rem;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 0.3125rem;
    padding-right: 0.625rem;
    padding-bottom: 0.3125rem;
    padding-left: 0.625rem;
  }
  /* line 405, ../_internal/sass/sass/main.sass */
  footer .icon-wrapper {
    margin: 0;
  }
  /* line 407, ../_internal/sass/sass/main.sass */
  footer .icon-wrapper .icons {
    margin-left: 0;
  }
  /* line 409, ../_internal/sass/sass/main.sass */
  footer .bottom {
    font-size: 10px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-right: 11px;
  }
  /* line 414, ../_internal/sass/sass/main.sass */
  footer .bottom .ta-left {
    float: left;
  }
  /* line 416, ../_internal/sass/sass/main.sass */
  footer .bottom .ta-right {
    float: right;
  }
}

/* line 418, ../_internal/sass/sass/main.sass */
.catagorieBnner {
  position: relative;
}
/* line 420, ../_internal/sass/sass/main.sass */
.catagorieBnner .columns {
  padding: 0;
}
/* line 422, ../_internal/sass/sass/main.sass */
.catagorieBnner img {
  width: 100%;
  height: auto;
}
/* line 425, ../_internal/sass/sass/main.sass */
.catagorieBnner .details {
  text-align: center;
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: auto;
}
/* line 432, ../_internal/sass/sass/main.sass */
.catagorieBnner .details h1 {
  color: #77686d;
}
/* line 434, ../_internal/sass/sass/main.sass */
.catagorieBnner .details > article {
  color: white;
}

/* line 436, ../_internal/sass/sass/main.sass */
.products {
  background-color: #eeeeee;
  padding-top: 0.3125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  border-left: 1px solid #e5e3e4;
  border-bottom: 1px solid #e5e3e4;
  cursor: hand;
  cursor: pointer;
}
/* line 446, ../_internal/sass/sass/main.sass */
.products h1 {
  font-size: 0.875em;
  font-weight: bold;
  text-align: center;
  display: block;
  overflow: hidden;
  color: #582f3d;
}
@media only screen and (max-width: 40em) {
  /* line 446, ../_internal/sass/sass/main.sass */
  .products h1 {
    line-height: 1;
    height: 3em;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 446, ../_internal/sass/sass/main.sass */
  .products h1 {
    line-height: 1.2;
    height: 2.5em;
    visibility: hidden;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 446, ../_internal/sass/sass/main.sass */
  .products h1 {
    visibility: hidden;
    height: 3em;
  }
}
/* line 463, ../_internal/sass/sass/main.sass */
.products .columns {
  padding: 0;
}
/* line 465, ../_internal/sass/sass/main.sass */
.products .columns.small-centered {
  text-align: center;
}
/* line 467, ../_internal/sass/sass/main.sass */
.products .details {
  display: none;
}
/* line 469, ../_internal/sass/sass/main.sass */
.products .priceTag {
  font-size: 0.75em;
  background-color: #d7d4d5;
  margin-bottom: 0.2em;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  /* line 469, ../_internal/sass/sass/main.sass */
  .products .priceTag {
    visibility: hidden;
  }
}

/* line 476, ../_internal/sass/sass/main.sass */
.productDetailTrack {
  background-color: white;
}
/* line 479, ../_internal/sass/sass/main.sass */
.productDetailTrack .inner {
  padding: 0 0.9375em;
}
/* line 481, ../_internal/sass/sass/main.sass */
.productDetailTrack hr.dotted {
  margin: 1.25em 0.9375em 1.1875em;
}
/* line 483, ../_internal/sass/sass/main.sass */
.productDetailTrack span {
  padding: 0 0.9375em;
}
/* line 485, ../_internal/sass/sass/main.sass */
.productDetailTrack .price {
  color: #582f3d;
  font-weight: bold;
}
/* line 488, ../_internal/sass/sass/main.sass */
.productDetailTrack .price b {
  font-size: 0.75em;
}
/* line 490, ../_internal/sass/sass/main.sass */
.productDetailTrack .thumbnails {
  padding: 0 0.9375em;
  margin-bottom: 0.9375em;
}
/* line 493, ../_internal/sass/sass/main.sass */
.productDetailTrack .thumbnails div {
  float: left;
  margin-left: 1.5625em;
}
/* line 496, ../_internal/sass/sass/main.sass */
.productDetailTrack .thumbnails div:first-child {
  margin-left: -0.03125em;
}
/* line 498, ../_internal/sass/sass/main.sass */
.productDetailTrack .fullImage {
  padding-top: 0.9375em;
}
/* line 500, ../_internal/sass/sass/main.sass */
.productDetailTrack .fullImage img {
  width: 100%;
  height: auto;
}
/* line 504, ../_internal/sass/sass/main.sass */
.productDetailTrack h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  background-color: #e6e3e4;
  margin: 0;
  margin-top: 0.6375em;
  padding: 0.20833em 0;
  padding-left: 0.625em;
  color: #582f3d;
}

/* line 514, ../_internal/sass/sass/main.sass */
.cart {
  background-color: white;
  color: #59303e;
  padding: 1em;
}
/* line 522, ../_internal/sass/sass/main.sass */
.cart header {
  font-weight: bold;
  color: #b6a5ab;
}
/* line 526, ../_internal/sass/sass/main.sass */
.cart header .columns {
  padding: 0;
}
/* line 528, ../_internal/sass/sass/main.sass */
.cart header nav {
  color: #59303e;
}
/* line 531, ../_internal/sass/sass/main.sass */
.cart header nav > ul {
  margin: 0;
}
/* line 533, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li {
  font-size: 15px;
  color: #e5e3e4;
  display: block;
  list-style: none;
  margin-left: 0.66667em;
}
/* line 541, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li .circle {
  color: #e5e3e4;
  border: 2px solid #e5e3e4;
  width: 2.1875em;
  height: 2.1875em;
  text-align: center;
  line-height: 1.9375em;
}
/* line 548, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li.checked {
  color: #795966;
}
/* line 551, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li.checked .circle {
  background-color: #795966;
  border: none;
  color: white;
  line-height: 2.1875em;
}
/* line 556, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li.checked.current {
  color: #582f3d;
}
/* line 558, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li.checked.current .circle {
  background-color: #582f3d;
  color: white;
}
/* line 561, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li:first-child {
  margin-left: -0.33333em;
}
/* line 564, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li div .stepNo, .cart header nav > ul > li div .stepName {
  padding-left: 0.33333em;
}
/* line 566, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li div .stepNo {
  font-size: 0.6em;
}
/* line 569, ../_internal/sass/sass/main.sass */
.cart header nav > ul > li div .stepName {
  margin-top: -0.3125em;
}
@media only screen and (max-width: 40em) {
  /* line 533, ../_internal/sass/sass/main.sass */
  .cart header nav > ul > li {
    margin: 0;
  }
}
@media only screen and (max-width: 40em) {
  /* line 531, ../_internal/sass/sass/main.sass */
  .cart header nav > ul {
    margin-left: 0;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 531, ../_internal/sass/sass/main.sass */
  .cart header nav > ul {
    width: 600px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 528, ../_internal/sass/sass/main.sass */
  .cart header nav {
    float: right;
    margin-top: 0.75em;
  }
}
/* line 580, ../_internal/sass/sass/main.sass */
.cart form {
  border-top: 5px dotted #b6a5ab;
  border-bottom: 5px dotted #b6a5ab;
  padding: 1.25em 0;
}
/* line 584, ../_internal/sass/sass/main.sass */
.cart form label {
  color: #582f3d;
  font-weight: bold;
  margin: 0;
  margin-top: 0.3125em;
  display: block;
  white-space: nowrap;
}
/* line 591, ../_internal/sass/sass/main.sass */
.cart form label.checkbox {
  font-weight: normal;
}
/* line 593, ../_internal/sass/sass/main.sass */
.cart form h2, .cart form h3 {
  color: #b6a5ab;
}
/* line 595, ../_internal/sass/sass/main.sass */
.cart form h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: -0.05682em;
}
/* line 602, ../_internal/sass/sass/main.sass */
.cart form h3 {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 605, ../_internal/sass/sass/main.sass */
.cart form input[type="radio"] {
  margin-bottom: 19.2px;
  margin-bottom: 1.2rem;
}
/* line 608, ../_internal/sass/sass/main.sass */
.cart form input[type="text"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.5rem;
  height: 29px;
  height: 1.8125rem;
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
}
/* line 617, ../_internal/sass/sass/main.sass */
.cart form select {
  padding: 0;
  height: 29px;
  height: 1.8125rem;
}
/* line 624, ../_internal/sass/sass/main.sass */
.cart form select:first-child {
  margin: 0;
}
@media only screen and (max-width: 40em) {
  /* line 617, ../_internal/sass/sass/main.sass */
  .cart form select {
    margin: 0;
    margin-top: 0.3125em;
  }
}
/* line 629, ../_internal/sass/sass/main.sass */
.cart form .row {
  border-top: 2px dotted #b6a5ab;
  padding: 0.75em 0;
  margin: 0;
}
/* line 634, ../_internal/sass/sass/main.sass */
.cart form .row .row .columns {
  padding: 0 5px;
}
/* line 636, ../_internal/sass/sass/main.sass */
.cart form .row .row.first {
  border: none;
}
/* line 638, ../_internal/sass/sass/main.sass */
.cart form .row > .columns {
  padding: 0;
}
/* line 640, ../_internal/sass/sass/main.sass */
.cart form .row > .columns > .columns > .columns {
  padding: 0;
  padding-left: 5px;
}
@media only screen and (max-width: 40em) {
  /* line 640, ../_internal/sass/sass/main.sass */
  .cart form .row > .columns > .columns > .columns {
    padding: 0;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 647, ../_internal/sass/sass/main.sass */
  .cart form .row > .columns > .columns > .columns:first-child {
    padding: 0px;
  }
}
/* line 649, ../_internal/sass/sass/main.sass */
.cart form .row:first-child {
  border: none;
}
@media only screen and (max-width: 40em) {
  /* line 652, ../_internal/sass/sass/main.sass */
  .cart form .row .columns {
    padding: 0;
  }
}
/* line 654, ../_internal/sass/sass/main.sass */
.cart form .cart5 {
  font-size: 12px;
  padding: 1em 2em !important;
  background-color: #edebec;
}
/* line 658, ../_internal/sass/sass/main.sass */
.cart form .cart5 h5, .cart form .cart5 h6 {
  font-weight: bold;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 662, ../_internal/sass/sass/main.sass */
.cart form .cart5 h5 {
  color: #b6a5ab;
}
/* line 664, ../_internal/sass/sass/main.sass */
.cart form .cart5 h6 {
  color: #582f3d;
}
@media only screen and (max-width: 64em) {
  /* line 666, ../_internal/sass/sass/main.sass */
  .cart form .cart5 > .row .row {
    text-align: center;
  }
}
/* line 669, ../_internal/sass/sass/main.sass */
.cart form .navigator {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
/* line 673, ../_internal/sass/sass/main.sass */
.cart form .navigator > div {
  position: absolute;
  top: 0.4em;
  padding: 0 0.3125em;
  background-color: white;
}
/* line 681, ../_internal/sass/sass/main.sass */
.cart form .navigator > div .prev, .cart form .navigator > div .next {
  display: block;
  padding: 0.3125em 2.2875em;
  text-align: center;
  cursor: hand;
  cursor: pointer;
}
@media only screen and (max-width: 40em) {
  /* line 681, ../_internal/sass/sass/main.sass */
  .cart form .navigator > div .prev, .cart form .navigator > div .next {
    padding: 0.3125em 0.875em;
  }
}
/* line 688, ../_internal/sass/sass/main.sass */
.cart form .navigator > div .prev {
  background-color: #715a62;
  margin-right: 1em;
  margin-left: 1.35em;
}
/* line 692, ../_internal/sass/sass/main.sass */
.cart form .navigator > div .prev:after {
  border-right-color: #715a62;
}
/* line 694, ../_internal/sass/sass/main.sass */
.cart form .navigator > div .next {
  margin-right: 1.35em;
  background-color: #582f3d;
}
/* line 697, ../_internal/sass/sass/main.sass */
.cart form .navigator > div .button {
  margin: 0;
  padding: 0.625em 0.9375em;
  border-left: 5px solid white;
  margin-left: -1.5em;
  white-space: nowrap;
}
@media only screen and (max-width: 40em) {
  /* line 669, ../_internal/sass/sass/main.sass */
  .cart form .navigator {
    width: 16.0625em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 669, ../_internal/sass/sass/main.sass */
  .cart form .navigator {
    width: 21.5625em;
  }
}
/* line 708, ../_internal/sass/sass/main.sass */
.cart form .edit {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  border: 1px solid #6b575e;
  padding: 0.16667em 0.83333em;
}
/* line 714, ../_internal/sass/sass/main.sass */
.cart form .edit .icon {
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 717, ../_internal/sass/sass/main.sass */
.cart form .addressReview {
  border: 1px solid #6b575e;
  padding: 0.5em 1em !important;
  margin-bottom: 1em;
  position: relative;
}
/* line 722, ../_internal/sass/sass/main.sass */
.cart form .addressReview .edit {
  position: absolute;
  top: 0.41667em;
  right: 0.41667em;
  bottom: auto;
  left: auto;
  color: #582f3d;
}
/* line 730, ../_internal/sass/sass/main.sass */
.cart form .productTable img {
  width: 100%;
  height: auto;
}
/* line 733, ../_internal/sass/sass/main.sass */
.cart form .productTable h4, .cart form .productTable h5 {
  color: #582f3d;
}
/* line 735, ../_internal/sass/sass/main.sass */
.cart form .productTable h4 {
  text-align: center;
  display: block;
  background-color: #e5e3e4;
  padding: 0.3125em 0;
  margin: 0;
}
@media only screen and (max-width: 40em) {
  /* line 735, ../_internal/sass/sass/main.sass */
  .cart form .productTable h4 {
    font-weight: bold;
    font-size: 12px;
    padding: 0.41667em 0;
  }
}
@media only screen and (max-width: 40em) {
  /* line 745, ../_internal/sass/sass/main.sass */
  .cart form .productTable h5 {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0.35714em;
  }
}
/* line 750, ../_internal/sass/sass/main.sass */
.cart form .productTable table {
  width: 100%;
}
/* line 752, ../_internal/sass/sass/main.sass */
.cart form .productTable table tr {
  border-top: 1px dotted black;
}
/* line 754, ../_internal/sass/sass/main.sass */
.cart form .productTable table tr:first-child, .cart form .productTable table tr.first {
  border: none;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 758, ../_internal/sass/sass/main.sass */
  .cart form .productTable table tr td {
    padding: 0.3em 0;
  }
}
/* line 761, ../_internal/sass/sass/main.sass */
.cart form .productTable hr.review {
  border: none;
  border-bottom: 10px solid #e5e3e4;
}
@media only screen and (min-width: 40.063em) {
  /* line 765, ../_internal/sass/sass/main.sass */
  .cart form .productTable.shipping .total {
    margin-top: -53px;
  }
}
/* line 768, ../_internal/sass/sass/main.sass */
.cart form .productTable .price {
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 40em) {
  /* line 768, ../_internal/sass/sass/main.sass */
  .cart form .productTable .price {
    font-size: 14px;
  }
  /* line 773, ../_internal/sass/sass/main.sass */
  .cart form .productTable .price b {
    display: none;
    font-size: 0.71429em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 768, ../_internal/sass/sass/main.sass */
  .cart form .productTable .price {
    font-size: 16px;
  }
  /* line 778, ../_internal/sass/sass/main.sass */
  .cart form .productTable .price b {
    font-size: 0.875em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 780, ../_internal/sass/sass/main.sass */
  .cart form .productTable .image {
    padding: 1em 2em;
  }
}
/* line 783, ../_internal/sass/sass/main.sass */
.cart form .productTable .total {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  background-color: #e5e3e4;
}
/* line 787, ../_internal/sass/sass/main.sass */
.cart form .productTable .total > .columns {
  font-size: 14px;
  background-color: #ccc9cb;
  padding: 0.35714em 0.71429em;
}
/* line 791, ../_internal/sass/sass/main.sass */
.cart form .productTable .total > .columns > b {
  font-size: 1.14286em;
}
/* line 793, ../_internal/sass/sass/main.sass */
.cart form .productTable .total label {
  margin: 0.625em 0 0;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  /* line 783, ../_internal/sass/sass/main.sass */
  .cart form .productTable .total {
    float: right;
    margin-top: -64px;
    border: 10px solid #e5e3e4;
  }
}
/* line 800, ../_internal/sass/sass/main.sass */
.cart form .productTable .optionalCheckbox {
  font-size: 0.9375em;
}
/* line 803, ../_internal/sass/sass/main.sass */
.cart h1 {
  font-size: 2.1em;
  font-weight: bold;
  color: #582f3d;
}
/* line 807, ../_internal/sass/sass/main.sass */
.cart section {
  border-left: 5px dotted #b6a5ab;
}
@media only screen and (max-width: 64em) {
  /* line 807, ../_internal/sass/sass/main.sass */
  .cart section {
    border: none;
    border-top: 5px dotted #b6a5ab;
  }
}
/* line 812, ../_internal/sass/sass/main.sass */
.cart section:first-child {
  border: none;
}
/* line 816, ../_internal/sass/sass/main.sass */
.cart .guest {
  display: block;
  margin-top: 125px;
}
/* line 819, ../_internal/sass/sass/main.sass */
.cart .forgot {
  font-size: 0.7em;
  color: #9f8991;
  margin-top: -1.5em;
  margin-bottom: 1em;
  display: block;
  text-decoration: underline;
}
/* line 826, ../_internal/sass/sass/main.sass */
.cart .forgot:hover {
  color: #876e77;
}
/* line 828, ../_internal/sass/sass/main.sass */
.cart .boxDotted {
  margin: 1em;
  padding: 1em 0.5em;
}

/* line 831, ../_internal/sass/sass/main.sass */
.page {
  background-color: white;
  padding: 1em;
  min-height: 12.5em;
}
/* line 835, ../_internal/sass/sass/main.sass */
.page header {
  position: relative;
}
/* line 838, ../_internal/sass/sass/main.sass */
.page header h1 {
  color: #d7d2d6;
  font-weight: bold;
  margin: 0;
  font-size: 2.5em;
}
/* line 843, ../_internal/sass/sass/main.sass */
.page .headImage {
  position: relative;
  top: -4.5em;
  right: -1em;
  float: right;
}
@media only screen and (max-width: 40em) {
  /* line 843, ../_internal/sass/sass/main.sass */
  .page .headImage {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=20);
    /* Older than Firefox 0.9 */
    -moz-opacity: 0.2;
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.2;
    /* Modern! */
    /* Firefox 0.9+, Safari 2?, Chrome any? */
    /* Opera 9+, IE 9+ */
    opacity: 0.2;
  }
}
/* line 851, ../_internal/sass/sass/main.sass */
.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  font-weight: bold;
}
/* line 853, ../_internal/sass/sass/main.sass */
.page h1 {
  font-size: 2em;
}
/* line 855, ../_internal/sass/sass/main.sass */
.page h2 {
  font-size: 1.5em;
}
/* line 857, ../_internal/sass/sass/main.sass */
.page h3 {
  font-size: 1.17em;
}
/* line 859, ../_internal/sass/sass/main.sass */
.page h4 {
  font-size: 1em;
}
/* line 861, ../_internal/sass/sass/main.sass */
.page h5 {
  font-size: 0.83em;
}
/* line 863, ../_internal/sass/sass/main.sass */
.page h6 {
  font-size: 0.75em;
}
/* line 865, ../_internal/sass/sass/main.sass */
.page p {
  line-height: 1.2;
  margin-bottom: 0.4em;
}
/* line 868, ../_internal/sass/sass/main.sass */
.page .x04 {
  font-size: 0.6em;
}
/* line 870, ../_internal/sass/sass/main.sass */
.page .x02 {
  font-size: 0.8em;
}
/* line 872, ../_internal/sass/sass/main.sass */
.page .x2 {
  font-size: 2em;
}
/* line 874, ../_internal/sass/sass/main.sass */
.page .x25 {
  font-size: 2.5em;
}
/* line 876, ../_internal/sass/sass/main.sass */
.page .x4 {
  font-size: 4em;
}
/* line 878, ../_internal/sass/sass/main.sass */
.page hr {
  border-bottom: 5px dotted #b6a5ab;
}
/* line 880, ../_internal/sass/sass/main.sass */
.page > .columns {
  padding: 0;
}

/* line 883, ../_internal/sass/sass/main.sass */
.fullPage > .row {
  margin: 0;
  margin-top: 0.3125em;
}

/* line 888, ../_internal/sass/sass/main.sass */
.image img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 40.063em) {
  /* line 894, ../_internal/sass/sass/main.sass */
  .medium-6-gutter {
    height: 224px;
    width: 49.5%;
    margin-left: 0.5%;
  }
  /* line 899, ../_internal/sass/sass/main.sass */
  .medium-6-gutter:first-child {
    margin-left: 0;
    margin-right: 0.5%;
    min-height: 190px;
    margin-bottom: 0.5%;
  }

  /* line 904, ../_internal/sass/sass/main.sass */
  .medium-4-custom {
    width: 30%;
  }
}
