/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts/fontawesome-webfont.eot?v=4.1.0");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

/* line 22, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-user:before {
  content: "\f007";
}

/* line 25, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 28, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 31, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 34, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 37, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 40, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 43, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 46, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 49, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 52, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 55, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 58, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 61, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-search:before {
  content: "\f002";
}

/* line 64, ../../_internal/sass/sass/_bk/inc/_fonts.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 1, ../../_internal/sass/sass/_bk/_def.sass */
html {
  font-size: 100%;
  color: #595959;
}

/* line 8, ../../_internal/sass/sass/_bk/_def.sass */
body {
  background-color: #2f1c22;
  font-size: 1em;
}

/* line 11, ../../_internal/sass/sass/_bk/_def.sass */
a {
  color: white;
}
/* line 13, ../../_internal/sass/sass/_bk/_def.sass */
a:hover {
  color: #cccccc;
}

/* line 15, ../../_internal/sass/sass/_bk/_def.sass */
ul {
  font-size: 16px;
  font-size: 1rem;
}

/* line 17, ../../_internal/sass/sass/_bk/_def.sass */
.error {
  color: red;
}

/* line 19, ../../_internal/sass/sass/_bk/_def.sass */
.inline-list {
  margin: 0 auto 15px auto;
  margin: 0 auto 0.9375rem auto;
  margin-left: -18px;
  margin-left: -1.125rem;
  list-style: none;
  overflow: hidden;
}
/* line 27, ../../_internal/sass/sass/_bk/_def.sass */
.inline-list > li {
  display: block;
  list-style: none;
  float: left;
  margin-left: 18px;
  margin-left: 1.125rem;
}
/* line 33, ../../_internal/sass/sass/_bk/_def.sass */
.inline-list > li > * {
  display: block;
}

/* line 35, ../../_internal/sass/sass/_bk/_def.sass */
.ta-left {
  text-align: left;
}

/* line 37, ../../_internal/sass/sass/_bk/_def.sass */
.ta-center {
  text-align: center;
}

/* line 39, ../../_internal/sass/sass/_bk/_def.sass */
.ta-right {
  text-align: right;
}

/* line 41, ../../_internal/sass/sass/_bk/_def.sass */
.ovh {
  overflow: hidden;
}

/* line 43, ../../_internal/sass/sass/_bk/_def.sass */
.circle {
  width: 100%;
  height: 100%;
  color: #9f8991;
  border: 2px solid #b6a5ab;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  behavior: url("../js/polyfill/pie/PIE.htc");
}

/* line 54, ../../_internal/sass/sass/_bk/_def.sass */
.button.gray, button.gray {
  color: #2f1c22;
  background-color: #b7a6ac;
}
/* line 57, ../../_internal/sass/sass/_bk/_def.sass */
.button.gray:hover, .button.gray:focus, button.gray:hover, button.gray:focus {
  background-color: #6c585f;
}

/* line 60, ../../_internal/sass/sass/_bk/_def.sass */
button:hover, button:focus {
  outline-color: black;
}

/* line 63, ../../_internal/sass/sass/_bk/_def.sass */
hr.dotted {
  border-bottom: 1px dotted black;
}

/* line 65, ../../_internal/sass/sass/_bk/_def.sass */
.boxDotted {
  border: 6px dotted #b6a5ab;
}

/* line 67, ../../_internal/sass/sass/_bk/_def.sass */
.addToCart, .cabtn {
  font-size: 0.83333em;
  display: block;
  color: #7b686e;
  padding: 0.2em 0.25em;
  border: 1px solid #7b686e;
  text-align: center;
}
/* line 74, ../../_internal/sass/sass/_bk/_def.sass */
.addToCart:hover, .cabtn:hover {
  color: #ac9da2;
}
/* line 76, ../../_internal/sass/sass/_bk/_def.sass */
.addToCart i, .cabtn i {
  font-size: 1.6em;
}

/* layouts component */
/* line 79, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box {
  position: relative;
  background: #b7a6ac;
}
/* line 86, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.active:after, .arrow_box.active:before, .arrow_box.left:after, .arrow_box.left:before, .arrow_box.right:after, .arrow_box.right:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 95, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.active:after, .arrow_box.left:after, .arrow_box.right:after {
  border-color: rgba(183, 166, 172, 0);
  border-top-color: #5b484e;
  border-width: 16px;
  margin-left: -16px;
}
/* line 101, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.active:before, .arrow_box.left:before, .arrow_box.right:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: white;
  border-width: 19px;
  margin-left: -19px;
}
/* line 107, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.left:after, .arrow_box.left:before {
  left: auto;
  bottom: auto;
  right: 100%;
  top: 50%;
  border: solid transparent;
}
/* line 113, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.left:after {
  border-color: rgba(91, 72, 78, 0);
  margin: 0;
  border-right-color: #5b484e;
  border-width: 17px;
  margin-top: -17px;
}
/* line 119, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.left:before {
  border-color: rgba(255, 255, 255, 0);
  margin: 0;
  border-right-color: white;
  border-width: 19px;
  margin-top: -19px;
}
/* line 126, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.right:after, .arrow_box.right:before {
  left: auto;
  bottom: auto;
  left: 100%;
  top: 50%;
  border: solid transparent;
}
/* line 132, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.right:after {
  border-color: rgba(91, 72, 78, 0);
  margin: 0;
  border-left-color: #5b484e;
  border-width: 17px;
  margin-top: -17px;
}
/* line 138, ../../_internal/sass/sass/_bk/_def.sass */
.arrow_box.right:before {
  border-color: rgba(255, 255, 255, 0);
  margin: 0;
  border-left-color: white;
  border-width: 19px;
  margin-top: -19px;
}

/* line 3, ../../_internal/sass/sass/_bk/main.sass */
.headSlider {
  overflow: hidden;
}
/* line 5, ../../_internal/sass/sass/_bk/main.sass */
.headSlider img {
  width: 100%;
  max-width: 1025px;
}
@media only screen and (max-width: 40em) {
  /* line 3, ../../_internal/sass/sass/_bk/main.sass */
  .headSlider {
    width: 100%;
    height: auto;
    line-height: 100%;
  }
}

/* line 12, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu {
  background-color: white;
  padding: 0.3125em 0;
  color: #a29c9e;
}
/* line 16, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu a {
  color: #a29c9e;
  font-size: 15px;
}
/* line 19, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu a:hover, #topcartmenu a.active {
  color: #555052;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 16, ../../_internal/sass/sass/_bk/main.sass */
  #topcartmenu a {
    font-size: 13px;
  }
}
/* line 24, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li {
  list-style: none;
  position: relative;
}
/* line 27, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li > a {
  text-align: center;
  font-size: 15px;
  white-space: nowrap;
  display: block;
  border: 1px solid transparent;
  background-color: white;
  margin-top: -0.13333em;
}
/* line 36, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li > a .icon {
  font-size: 1.46667em;
}
/* line 38, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li > a:hover, #topcartmenu ul > li > a.active {
  padding: 0.16667em 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  z-index: 92;
}
/* line 45, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li > a:hover {
  border-bottom: 1px solid black;
}
/* line 47, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li > a.active:hover {
  border-bottom: 1px solid transparent;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 27, ../../_internal/sass/sass/_bk/main.sass */
  #topcartmenu ul > li > a {
    font-size: 13px;
  }
}
/* line 51, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  top: 30px;
  padding-bottom: 0.9375em;
  z-index: 91;
  display: none;
  text-align: left;
}
/* line 60, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub .columns {
  padding: 0;
  padding-left: 0.3125em;
}
/* line 64, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub .button {
  margin: 0;
  margin-top: 0.5em;
  padding: 0.625em 1.25em;
  color: white;
}
/* line 69, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub .row {
  margin: 0;
  border-top: 1px dotted black;
  padding: 0.3125em 0;
}
/* line 73, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub .row:first-child, #topcartmenu ul > li .sub .row.first {
  border: none;
}
/* line 78, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub h5 {
  font-size: 20px;
  white-space: nowrap;
  color: #582f3d;
}
/* line 82, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub img {
  width: 100%;
  height: auto;
}
/* line 85, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub.profile {
  right: 0;
  width: 360px;
  padding: 0.5em 0;
}
/* line 89, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub.selection {
  right: -125px;
  width: 650px;
  color: #582f3d;
}
/* line 93, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub.selection .row {
  margin: 0 0.9375em;
}
/* line 95, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub.selection .head {
  font-weight: bold;
  padding: 0.375em 0;
  padding-left: 0.9375em;
  background-color: #e5e3e4;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 89, ../../_internal/sass/sass/_bk/main.sass */
  #topcartmenu ul > li .sub.selection {
    width: 629px;
    right: -103px;
  }
}
/* line 103, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li .sub.active {
  display: block;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 51, ../../_internal/sass/sass/_bk/main.sass */
  #topcartmenu ul > li .sub {
    top: 31px;
  }
}
/* line 107, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu ul > li.columns {
  padding: 0;
}
/* line 109, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu .row > .columns {
  padding-left: 0.625em;
  padding-right: 0.625em;
}
/* line 112, ../../_internal/sass/sass/_bk/main.sass */
#topcartmenu .row > .columns:first-child {
  padding-left: 0;
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  /* line 12, ../../_internal/sass/sass/_bk/main.sass */
  #topcartmenu {
    height: 35px;
  }
}

/* line 116, ../../_internal/sass/sass/_bk/main.sass */
.searchBox {
  position: relative;
}
/* line 119, ../../_internal/sass/sass/_bk/main.sass */
.searchBox i {
  font-size: 19px;
  position: absolute;
  z-index: 2;
  right: 2px;
  top: 2px;
}
/* line 125, ../../_internal/sass/sass/_bk/main.sass */
.searchBox input[type=text] {
  margin: 0;
  height: 24px;
  height: 1.5rem;
  padding-right: 22px;
}

/* line 134, ../../_internal/sass/sass/_bk/main.sass */
#topmenu img {
  width: 16.4375em;
  height: 3.0625em;
}
/* line 137, ../../_internal/sass/sass/_bk/main.sass */
#topmenu .inline-list {
  overflow: visible;
  overflow: initial;
}
/* line 141, ../../_internal/sass/sass/_bk/main.sass */
#topmenu .inline-list .logo img {
  position: relative;
  top: auto;
  right: auto;
  bottom: 1.1875em;
  left: auto;
}
/* line 147, ../../_internal/sass/sass/_bk/main.sass */
#topmenu .menus {
  display: none;
}
@media only screen and (max-width: 40em) {
  /* line 153, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu {
    background-color: #2f1c22;
  }
  /* line 155, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .icons {
    font-size: 2em;
    margin-top: 0.3125em;
    padding: 0.125em;
    color: #4f2f39;
  }
  /* line 160, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .icons:hover, #topmenu #small-topmenu .icons.open {
    color: #2f1c22;
    background-color: #666666;
  }
  /* line 164, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu > .row {
    padding: 0.3125em 0;
    border-bottom: 1px solid white;
  }
  /* line 167, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus {
    z-index: 9999;
    position: relative;
    overflow: auto;
  }
  /* line 177, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul {
    margin: 0;
    padding: 0;
  }
  /* line 180, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul > li {
    list-style: none;
    text-align: center;
    border-top: 1px solid #666666;
    color: white;
  }
  /* line 185, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul > li:first-child, #topmenu #small-topmenu .menus ul > li.noBorder {
    border: none;
  }
  /* line 188, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul > li > a, #topmenu #small-topmenu .menus ul > li.noBorder {
    display: block;
    padding: 0.3125em 0;
  }
  /* line 193, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul > li.noBorder a {
    display: inline;
  }
  /* line 196, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #small-topmenu .menus ul > li.row.noBorder > * {
    padding: 0;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 199, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu {
    border-top: 1px solid white;
  }
  /* line 201, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu .logo {
    text-align: center;
    margin-top: 1em;
  }
  /* line 205, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu .inline-list > li > a {
    display: inline;
  }
  /* line 207, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div {
    display: block;
    margin: 0.5em auto 0.25em;
  }
  /* line 211, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list {
    margin: 0;
  }
  /* line 217, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list > li {
    width: 12.5%;
    margin: 0;
  }
  /* line 223, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list > .large {
    width: 13.5%;
  }
  /* line 225, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLarge {
    padding-left: 2%;
  }
  /* line 227, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list > .afterLargeTwo {
    padding-left: 3%;
  }
  /* line 229, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu #medium-topmenu div .inline-list > .last {
    width: 11%;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 131, ../../_internal/sass/sass/_bk/main.sass */
  #topmenu {
    padding-top: 2.1875em;
  }
}

@media only screen and (min-width: 40.063em) {
  /* line 233, ../../_internal/sass/sass/_bk/main.sass */
  #content {
    margin-bottom: 0.9375em;
  }
}

/* line 237, ../../_internal/sass/sass/_bk/main.sass */
.catagories {
  background-color: white;
  margin: 0.3125em 0 1.25em 0;
  padding: 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: #595959;
}
/* line 245, ../../_internal/sass/sass/_bk/main.sass */
.catagories .columns {
  padding: 0;
}
/* line 248, ../../_internal/sass/sass/_bk/main.sass */
.catagories .innerCatagorie .details {
  padding-bottom: 0.9375em;
}
/* line 250, ../../_internal/sass/sass/_bk/main.sass */
.catagories .innerCatagorie .details h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  background-color: #e6e3e4;
  margin: 0;
  padding: 0.20833em 0;
  padding-left: 0.625em;
  color: #2e1b22;
}
/* line 259, ../../_internal/sass/sass/_bk/main.sass */
.catagories .innerCatagorie .details section {
  margin-top: 0.625em;
  padding-left: 0.9375em;
}
/* line 262, ../../_internal/sass/sass/_bk/main.sass */
.catagories .innerCatagorie .details section h2 {
  font-size: 1.125em;
  font-weight: bold;
  color: #b7a6ac;
}
/* line 267, ../../_internal/sass/sass/_bk/main.sass */
.catagories .innerCatagorie .rightImage img {
  width: 100%;
  height: auto;
}
/* line 270, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider {
  text-align: center;
  position: relative;
  z-index: 90;
}
/* line 276, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider .item {
  margin-bottom: 15px;
  border-bottom: 2px solid white;
}
/* line 279, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider .item > a {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: block;
  padding: 0.875em 0;
}
/* line 284, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider .item > a:hover, .catagories .paginationCatagorieSlider .item > a:focus {
  color: white;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 279, ../../_internal/sass/sass/_bk/main.sass */
  .catagories .paginationCatagorieSlider .item > a {
    font-size: 0.9375em;
  }
}
/* line 289, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider .item:first-child > a {
  border-left: 2px solid white;
}
/* line 291, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider .item.active, .catagories .paginationCatagorieSlider .item:hover {
  background-color: #5b484e;
}
/* line 293, ../../_internal/sass/sass/_bk/main.sass */
.catagories .paginationCatagorieSlider.row {
  margin: 0;
}
/* line 297, ../../_internal/sass/sass/_bk/main.sass */
.catagories .catagorieSlider .item .details {
  margin-top: -3.125em;
  padding-left: 0.9375em;
}
/* line 300, ../../_internal/sass/sass/_bk/main.sass */
.catagories .catagorieSlider .item .details h1 {
  color: #b7a6ac;
  font-weight: bold;
}
@media only screen and (min-width: 40.063em) {
  /* line 297, ../../_internal/sass/sass/_bk/main.sass */
  .catagories .catagorieSlider .item .details {
    margin-top: 0;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 295, ../../_internal/sass/sass/_bk/main.sass */
  .catagories .catagorieSlider {
    position: relative;
    top: -17px;
    z-index: 80;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 237, ../../_internal/sass/sass/_bk/main.sass */
  .catagories {
    margin: 0.625em 0 0 0;
  }
}

/* line 314, ../../_internal/sass/sass/_bk/main.sass */
footer {
  color: white;
  border-top: 1px solid white;
  padding-top: 1.66667em;
}
/* line 316, ../../_internal/sass/sass/_bk/main.sass */
footer > .columns {
  padding: 0;
  padding-left: 0.9375em;
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 64.063em) {
  /* line 316, ../../_internal/sass/sass/_bk/main.sass */
  footer > .columns {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
/* line 330, ../../_internal/sass/sass/_bk/main.sass */
footer .top {
  padding-bottom: 1.66667em;
}
/* line 332, ../../_internal/sass/sass/_bk/main.sass */
footer .bottom {
  padding-bottom: 1.25em;
  border-top: 1px solid white;
}
/* line 336, ../../_internal/sass/sass/_bk/main.sass */
footer .icon-wrapper {
  display: inline;
  margin-left: 0.83333em;
}
/* line 339, ../../_internal/sass/sass/_bk/main.sass */
footer .icon-wrapper .icons {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0.41667em;
  margin-left: 0.41667em;
}
@media only screen and (min-width: 64.063em) {
  /* line 346, ../../_internal/sass/sass/_bk/main.sass */
  footer .subscript span, footer .subscript input[type=text], footer .subscript button.button.gray {
    float: left;
  }
  /* line 348, ../../_internal/sass/sass/_bk/main.sass */
  footer .subscript input[type=text] {
    width: 75%;
  }
  /* line 350, ../../_internal/sass/sass/_bk/main.sass */
  footer .subscript button.button.gray {
    margin-left: 3px;
    margin-left: 0.1875rem;
    padding-top: 9px;
    padding-right: 10px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 0.5625rem;
    padding-right: 0.625rem;
    padding-bottom: 0.5625rem;
    padding-left: 0.625rem;
  }
  /* line 362, ../../_internal/sass/sass/_bk/main.sass */
  footer .icon-wrapper {
    margin: 0;
  }
  /* line 364, ../../_internal/sass/sass/_bk/main.sass */
  footer .icon-wrapper .icons {
    margin-left: 0;
  }
  /* line 366, ../../_internal/sass/sass/_bk/main.sass */
  footer .bottom {
    padding-top: 0.83333em;
    padding-bottom: 0.41667em;
  }
}

/* line 369, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner {
  position: relative;
}
/* line 371, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner .columns {
  padding: 0;
}
/* line 373, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner img {
  width: 100%;
  height: auto;
}
/* line 376, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner .details {
  text-align: center;
  position: absolute;
  top: 25%;
  right: auto;
  bottom: auto;
  left: auto;
}
/* line 383, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner .details h1 {
  color: #77686d;
}
/* line 385, ../../_internal/sass/sass/_bk/main.sass */
.catagorieBanner .details > article {
  color: white;
}

/* line 387, ../../_internal/sass/sass/_bk/main.sass */
.products {
  background-color: #eeeeee;
  padding-top: 0.3125em;
  padding-left: 0.125em;
  padding-right: 0.125em;
  border-left: 1px solid #e5e3e4;
  border-bottom: 1px solid #e5e3e4;
  cursor: hand;
  cursor: pointer;
}
/* line 397, ../../_internal/sass/sass/_bk/main.sass */
.products h1 {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  display: block;
  overflow: hidden;
  color: #582f3d;
}
@media only screen and (max-width: 40em) {
  /* line 397, ../../_internal/sass/sass/_bk/main.sass */
  .products h1 {
    line-height: 1;
    height: 3em;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 397, ../../_internal/sass/sass/_bk/main.sass */
  .products h1 {
    line-height: 1.2;
    height: 2.5em;
    visibility: hidden;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 397, ../../_internal/sass/sass/_bk/main.sass */
  .products h1 {
    visibility: hidden;
    height: 3em;
  }
}
/* line 414, ../../_internal/sass/sass/_bk/main.sass */
.products .columns {
  padding: 0;
}
/* line 416, ../../_internal/sass/sass/_bk/main.sass */
.products .columns.small-centered {
  text-align: center;
}
/* line 418, ../../_internal/sass/sass/_bk/main.sass */
.products .details {
  display: none;
}
/* line 420, ../../_internal/sass/sass/_bk/main.sass */
.products .priceTag {
  font-size: 0.75em;
  background-color: #d7d4d5;
  margin-bottom: 0.2em;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  /* line 420, ../../_internal/sass/sass/_bk/main.sass */
  .products .priceTag {
    visibility: hidden;
  }
}

/* line 427, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack {
  background-color: white;
}
/* line 430, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .inner {
  padding: 0 0.9375em;
}
/* line 432, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack hr.dotted {
  margin: 1.25em 0.9375em 1.1875em;
}
/* line 434, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack span {
  padding: 0 0.9375em;
}
/* line 436, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .price {
  color: #582f3d;
  font-weight: bold;
}
/* line 439, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .price b {
  font-size: 0.75em;
}
/* line 441, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .thumbnails {
  padding: 0 0.9375em;
  margin-bottom: 0.9375em;
}
/* line 444, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .thumbnails div {
  float: left;
  margin-left: 1.5625em;
}
/* line 447, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .thumbnails div:first-child {
  margin-left: -0.03125em;
}
/* line 449, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .fullImage {
  padding-top: 0.9375em;
}
/* line 451, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack .fullImage img {
  width: 100%;
  height: auto;
}
/* line 455, ../../_internal/sass/sass/_bk/main.sass */
.productDetailTrack h1 {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  background-color: #e6e3e4;
  margin: 0;
  margin-top: 0.6375em;
  padding: 0.20833em 0;
  padding-left: 0.625em;
  color: #582f3d;
}

/* line 465, ../../_internal/sass/sass/_bk/main.sass */
.cart {
  background-color: white;
  color: #59303e;
  padding: 1em;
}
/* line 473, ../../_internal/sass/sass/_bk/main.sass */
.cart header {
  font-weight: bold;
  color: #b6a5ab;
}
/* line 477, ../../_internal/sass/sass/_bk/main.sass */
.cart header .columns {
  padding: 0;
}
/* line 479, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav {
  color: #59303e;
}
/* line 482, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul {
  margin: 0;
}
/* line 484, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li {
  font-size: 15px;
  color: #795966;
  display: block;
  list-style: none;
  margin-left: 0.66667em;
}
/* line 492, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li .circle {
  width: 2.1875em;
  height: 2.1875em;
  text-align: center;
  line-height: 1.9375em;
}
/* line 497, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li.checked {
  color: #795966;
}
/* line 500, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li.checked .circle {
  background-color: #795966;
  border: none;
  color: white;
  line-height: 2.1875em;
}
/* line 507, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li.checked.current .circle {
  background-color: #582f3d;
  color: white;
}
/* line 510, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li:first-child {
  margin-left: -0.33333em;
}
/* line 513, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li div .stepNo, .cart header nav > ul > li div .stepName {
  padding-left: 0.33333em;
}
/* line 515, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li div .stepNo {
  font-size: 0.6em;
}
/* line 517, ../../_internal/sass/sass/_bk/main.sass */
.cart header nav > ul > li div .stepName {
  margin-top: -0.3125em;
}
@media only screen and (max-width: 40em) {
  /* line 484, ../../_internal/sass/sass/_bk/main.sass */
  .cart header nav > ul > li {
    margin: 0;
  }
}
@media only screen and (max-width: 40em) {
  /* line 482, ../../_internal/sass/sass/_bk/main.sass */
  .cart header nav > ul {
    margin-left: 0;
  }
}
@media only screen and (min-width: 64.063em) {
  /* line 482, ../../_internal/sass/sass/_bk/main.sass */
  .cart header nav > ul {
    width: 600px;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 479, ../../_internal/sass/sass/_bk/main.sass */
  .cart header nav {
    float: right;
    margin-top: 0.75em;
  }
}
/* line 528, ../../_internal/sass/sass/_bk/main.sass */
.cart form {
  border-top: 5px dotted #b6a5ab;
  border-bottom: 5px dotted #b6a5ab;
  padding: 1.25em 0;
}
/* line 532, ../../_internal/sass/sass/_bk/main.sass */
.cart form label {
  color: #582f3d;
  font-weight: bold;
  margin: 0;
  margin-top: 0.3125em;
  display: block;
}
/* line 538, ../../_internal/sass/sass/_bk/main.sass */
.cart form label.checkbox {
  font-weight: normal;
}
/* line 540, ../../_internal/sass/sass/_bk/main.sass */
.cart form h2, .cart form h3 {
  color: #b6a5ab;
}
/* line 542, ../../_internal/sass/sass/_bk/main.sass */
.cart form h2 {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-top: -0.05682em;
}
/* line 549, ../../_internal/sass/sass/_bk/main.sass */
.cart form h3 {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 552, ../../_internal/sass/sass/_bk/main.sass */
.cart form input[type="radio"] {
  margin-bottom: 19.2px;
  margin-bottom: 1.2rem;
}
/* line 555, ../../_internal/sass/sass/_bk/main.sass */
.cart form input[type="text"] {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px;
  padding: 0.5rem;
  height: 29px;
  height: 1.8125rem;
  margin-bottom: 12.8px;
  margin-bottom: 0.8rem;
}
/* line 564, ../../_internal/sass/sass/_bk/main.sass */
.cart form select {
  padding: 0;
  height: 29px;
  height: 1.8125rem;
}
/* line 571, ../../_internal/sass/sass/_bk/main.sass */
.cart form select:first-child {
  margin: 0;
}
@media only screen and (max-width: 40em) {
  /* line 564, ../../_internal/sass/sass/_bk/main.sass */
  .cart form select {
    margin: 0;
    margin-top: 0.3125em;
  }
}
/* line 576, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row {
  border-top: 2px dotted #b6a5ab;
  padding: 0.75em 0;
  margin: 0;
}
/* line 581, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row .row .columns {
  padding: 0 5px;
}
/* line 583, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row .row.first {
  border: none;
}
/* line 585, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row > .columns {
  padding: 0;
}
/* line 587, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row > .columns > .columns > .columns {
  padding: 0;
  padding-left: 5px;
}
@media only screen and (max-width: 40em) {
  /* line 587, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .row > .columns > .columns > .columns {
    padding: 0;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 594, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .row > .columns > .columns > .columns:first-child {
    padding: 0px;
  }
}
/* line 596, ../../_internal/sass/sass/_bk/main.sass */
.cart form .row:first-child {
  border: none;
}
@media only screen and (max-width: 40em) {
  /* line 599, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .row .columns {
    padding: 0;
  }
}
/* line 601, ../../_internal/sass/sass/_bk/main.sass */
.cart form .cart5 {
  font-size: 12px;
  padding: 1em 2em !important;
  background-color: #edebec;
}
/* line 605, ../../_internal/sass/sass/_bk/main.sass */
.cart form .cart5 h5, .cart form .cart5 h6 {
  font-weight: bold;
  font-size: 13px;
  font-size: 0.8125rem;
}
/* line 609, ../../_internal/sass/sass/_bk/main.sass */
.cart form .cart5 h5 {
  color: #b6a5ab;
}
/* line 611, ../../_internal/sass/sass/_bk/main.sass */
.cart form .cart5 h6 {
  color: #582f3d;
}
@media only screen and (max-width: 64em) {
  /* line 613, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .cart5 > .row .row {
    text-align: center;
  }
}
/* line 616, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
/* line 620, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div {
  position: absolute;
  top: 0.4em;
  padding: 0 0.3125em;
  background-color: white;
}
/* line 628, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .prev, .cart form .navigator > div .next {
  display: block;
  padding: 0.3125em 2.2875em;
  text-align: center;
  cursor: hand;
  cursor: pointer;
}
@media only screen and (max-width: 40em) {
  /* line 628, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .navigator > div .prev, .cart form .navigator > div .next {
    padding: 0.3125em 0.875em;
  }
}
/* line 635, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .prev {
  background-color: #e7d2d9;
  margin-right: 1em;
  margin-left: 1.35em;
}
/* line 639, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .prev:after {
  border-right-color: #e7d2d9;
}
/* line 641, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .next {
  margin-right: 1.35em;
  background-color: #582f3d;
}
/* line 644, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .next:after {
  border-left-color: #582f3d;
}
/* line 646, ../../_internal/sass/sass/_bk/main.sass */
.cart form .navigator > div .button {
  margin: 0;
  padding: 0.625em 0.9375em;
  border-left: 5px solid white;
  margin-left: -1.5em;
  white-space: nowrap;
}
@media only screen and (max-width: 40em) {
  /* line 616, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .navigator {
    width: 16.0625em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 616, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .navigator {
    width: 21.5625em;
  }
}
/* line 657, ../../_internal/sass/sass/_bk/main.sass */
.cart form .edit {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: bold;
  border: 1px solid #6b575e;
  padding: 0.16667em 0.83333em;
}
/* line 663, ../../_internal/sass/sass/_bk/main.sass */
.cart form .edit .icon {
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 666, ../../_internal/sass/sass/_bk/main.sass */
.cart form .addressReview {
  border: 1px solid #6b575e;
  padding: 0.5em 1em !important;
  margin-bottom: 1em;
  position: relative;
}
/* line 671, ../../_internal/sass/sass/_bk/main.sass */
.cart form .addressReview .edit {
  position: absolute;
  top: 0.41667em;
  right: 0.41667em;
  bottom: auto;
  left: auto;
  color: #582f3d;
}
/* line 679, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable img {
  width: 100%;
  height: auto;
}
/* line 682, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable h4, .cart form .productTable h5 {
  color: #582f3d;
}
/* line 684, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable h4 {
  text-align: center;
  display: block;
  background-color: #e5e3e4;
  padding: 0.3125em 0;
  margin: 0;
}
@media only screen and (max-width: 40em) {
  /* line 684, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable h4 {
    font-weight: bold;
    font-size: 12px;
    padding: 0.41667em 0;
  }
}
@media only screen and (max-width: 40em) {
  /* line 694, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable h5 {
    font-weight: bold;
    font-size: 14px;
    margin: 0 0.35714em;
  }
}
/* line 699, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable table {
  width: 100%;
}
/* line 701, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable table tr {
  border-top: 1px dotted black;
}
/* line 703, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable table tr:first-child, .cart form .productTable table tr.first {
  border: none;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  /* line 707, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable table tr td {
    padding: 0.3em 0;
  }
}
/* line 710, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable hr.review {
  border: none;
  border-bottom: 10px solid #e5e3e4;
}
@media only screen and (min-width: 40.063em) {
  /* line 714, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable.shipping .total {
    margin-top: -53px;
  }
}
/* line 717, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .price {
  font-weight: bold;
  text-align: center;
}
@media only screen and (max-width: 40em) {
  /* line 717, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .price {
    font-size: 14px;
  }
  /* line 722, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .price b {
    display: none;
    font-size: 0.71429em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 717, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .price {
    font-size: 16px;
  }
  /* line 727, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .price b {
    font-size: 0.875em;
  }
}
@media only screen and (min-width: 40.063em) {
  /* line 729, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .image {
    padding: 1em 2em;
  }
}
/* line 732, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .total {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  background-color: #e5e3e4;
}
/* line 736, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .total > .columns {
  font-size: 14px;
  background-color: #ccc9cb;
  padding: 0.35714em 0.71429em;
}
/* line 740, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .total > .columns > b {
  font-size: 1.14286em;
}
/* line 742, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .total label {
  margin: 0.625em 0 0;
  text-align: center;
}
@media only screen and (min-width: 40.063em) {
  /* line 732, ../../_internal/sass/sass/_bk/main.sass */
  .cart form .productTable .total {
    float: right;
    margin-top: -64px;
    border: 10px solid #e5e3e4;
  }
}
/* line 749, ../../_internal/sass/sass/_bk/main.sass */
.cart form .productTable .optionalCheckbox {
  font-size: 0.9375em;
}
/* line 752, ../../_internal/sass/sass/_bk/main.sass */
.cart h1 {
  font-size: 2.1em;
  font-weight: bold;
  color: #582f3d;
}
/* line 756, ../../_internal/sass/sass/_bk/main.sass */
.cart section {
  border-left: 5px dotted #b6a5ab;
}
@media only screen and (max-width: 64em) {
  /* line 756, ../../_internal/sass/sass/_bk/main.sass */
  .cart section {
    border: none;
    border-top: 5px dotted #b6a5ab;
  }
}
/* line 761, ../../_internal/sass/sass/_bk/main.sass */
.cart section:first-child {
  border: none;
}
/* line 765, ../../_internal/sass/sass/_bk/main.sass */
.cart .forgot {
  font-size: 0.7em;
  color: #9f8991;
  margin-top: -1.5em;
  margin-bottom: 1em;
  display: block;
  text-decoration: underline;
}
/* line 772, ../../_internal/sass/sass/_bk/main.sass */
.cart .forgot:hover {
  color: #876e77;
}
/* line 774, ../../_internal/sass/sass/_bk/main.sass */
.cart .boxDotted {
  margin: 1em;
  padding: 1em 0.5em;
}

@media only screen and (min-width: 40.063em) {
  /* line 778, ../../_internal/sass/sass/_bk/main.sass */
  .medium-6-gutter {
    width: 49.5%;
    margin-left: 0.5%;
  }
  /* line 781, ../../_internal/sass/sass/_bk/main.sass */
  .medium-6-gutter:first-child {
    margin-left: 0;
    margin-right: 0.5%;
  }
}
