.clear{
	position:relative;
	float:none;
	clear:both;
	width:100%;
	height:1px;
	display:block;
}
body{
	background: url(../images/subbodybg.jpg) repeat-x #FFF;
}

#wrapper_container{
	max-width: 1200px;
 	margin: 0 auto;
	background-color:#FFF;
}


/* nav */
#nav{
	width:100%;
	height:47px;
	background:#015db4;
	text-align:right;
	position:relative;
}
#nav ul li{
	list-style:none;
	display:inline-block;
}
#nav ul li a{
	display:block;
	padding:15px 31.5px 15px 31.5px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
}
#nav ul li a:hover{
	background: #FFF;
	color:#015db4;
	text-decoration:none;
}
#logo{
	float:left;
	position: absolute;
	left:35px;
	top:-53px;
}
/* END nav */






#tag1{
	width:100%;
	height:47px;
	background:#bd2d8e;
	text-align:center;
	position:relative;
	padding-top:7px;
}

#tag2{
	width:100%;
	height:47px;
	background:#01994c;
	text-align:center;
	position:relative;
	padding-top:7px;
}

.linearBlue {
  /* fallback */
  background-color: #1a82f7;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #2F2727, #1a82f7);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #2F2727, #1a82f7);

  /* IE 10 */
  background: -ms-linear-gradient(top, #2F2727, #1a82f7);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #2F2727, #1a82f7);
}



ul#ex2_thumbs li{
	list-style:none;
	display:block;
	float:left;
	border:1px solid #666666;
	margin:2px;
}

/* product slider */
.infiniteCarousel {
  width: 97%;
  position: relative;
}

.infiniteCarousel .wrapper {
  width: 100%; /* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
  overflow: auto;
  min-height: 10em;
  margin: 0px;
  position: relative;
  top: 0;
}

.infiniteCarousel ul a img {
  border: 1px solid #e0e0e0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: relative;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 0px;
  height: auto;
  width:100%;
  max-width: 255px;
}

.infiniteCarousel ul li a img {
  display:block;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(../images/arrow.png) no-repeat 0 0;
  text-indent: -9999px;
  position: absolute;
  top: 95px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: -40px;
  position:absolute;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: -40px;
  position:absolute
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}

.infiniteCarousel .wrapper li .box .one {
	width:100%!important;
}