// settings
$font-size: (
	default: 16,
	small: 14,
	medium: 14,
	large: 16,
	icon: 32,
	footer: 12,
	footerIcons: 24,
	priceTag: 12,
	addToCart: 10,
	addToCartIcon: 16,
);
$color: (
	text: #595959,
	link: #fff,
	bg: #2f1c22,
	base: #582F3D,
	baseTwo: #B6A5AB,
	baseThree: #59303e,
	baseFour: #e5e3e4,
	baseFive: #A29C9E,
	baseSix: #795966,
	buttonBase: #2f1c22,
	buttonGray: #b7a6ac,
	buttonGrayText: #2f1c22,
	error: red,
	contentBackground: #fff,
	h1: #2e1b22,
	catagorieHeadline: #e6e3e4,
	catagorieHeadline2: #b7a6ac,
	borderOne: #fff,
	topMenu: #fff,
	sliderPaginationBackground: #b7a6ac,
	sliderPaginationFont: #fff,
	sliderPaginationHover: #5b484e,
	footerText: #fff,
	footerBorder: #fff,
	productLink: #7b686e,
	productBorder: #e5e3e4,
	productBackground: #eee,
	productBannerDetail: #fff,
	productBannerHeadOne: #77686d,
	priceTag: #d7d4d5,
	addToCart: #7b686e,
);
$path: (
	pie: url("../js/polyfill/pie/PIE.htc"),
);